---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/dadstronaut.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 md:block">
    <figure>
      <Picture
        src={heroImage}
        alt="Dadstronaut in space"
        widths={[600, 400, 200]}
        {/* sizes="(max-width: 800px) 100vw, 620px, "*/}
        sizes="((min-width: 50em) and (max-width: 60em)) 50em, ((min-width: 30em) and (max-width: 50em)) 30em, (max-width: 30em) 20em"
        aspectRatio=23:25
        loading="eager"
        format="avif"
      />
      <figcaption class="text-right">
        <p><sup>Art by one of my children</sup></p>
      </figcaption>
    </figure>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Glenn Pratt Software Engineer
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Experienced Software Engineer with a passion for open-source technology, who thrives on teamwork and improving team health and efficiency.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/glennpratt"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://www.linkedin.com/in/glennpratt/"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-linkedin" />
        LinkedIn
      </Link>
    </div>
  </div>
</main>
